.video-size {
    width: 100%;
    min-height: 80vh;
    margin: 0 auto;
    background-color: black;
    border-top: none;
}

.scoreboard {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    border-bottom: none;
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
}

.stand-pad {
    z-index: 10;
    padding: 2% 1%;
}

.team-logos {
    width: 15%;
}

.team-title {
    margin: 0;
    color: white;
}

.scores {
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
}

.score {
    font-size: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.timer {
    font-size: 2em;
}

.loader {
    width: 3em;
    height: 3em;
}

.video-placeholder {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
}

@media only screen and (max-width: 720px) {
    .scoreboard {
        position: absolute;
        bottom: 0;
        border: none;
        /* background-color: rgba(0,0,0,0.6); */
        border-radius: 0 0 0 0;
    }
    .video-size {
        border: none;
        height: 100%;
        border-radius: 0;
    }
    .scores {
        padding: 1%;
    }
}